# Don't push compiled python files
*.pyc
# Don't push saved Host files
*.hst
# Don't push saved User files
*.usr
# Don't push error reports
*.err
# Ignore the dir/ directory
dir/*
# Ignore Inode data files
*.inode
